footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $site-red;
  display: flex;
  justify-content: center;
  .social {
    i {
      color: $site-white;
      margin-right: 50px;
    }
  }
}
