nav {
  height: 75px;
  background-color: $site-red;
  color: $site-white;
  .nav-content {
    margin: 0 auto;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-logo {
      height: 70px;
      width: 70px;
      font-size: 30px;
      letter-spacing: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .nav-links {
      width: 40%;
      display: flex;
      justify-content: space-between;
      a {
        font-size: 20px;
        text-decoration: none;
        color: $site-white;
      }
      .current {
        text-decoration: underline;
      }
    }
  }
}
