.projects {
  width: 80%;
  margin: 50px auto;
  padding-bottom: 110px;
  &__title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
  }
  .projects-group {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    a {
      text-decoration: none;
      .project {
        color: $site-gray;
        border-radius: 30px;
        border: 1px solid $site-gray;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        padding: 10px;
        color: $site-white;
        font-size: 20px;
        background-color: $overlay-black;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .title {
          font-size: 30px;
        }
        &--travel-fly {
          background-image: linear-gradient(
              to right,
              $overlay-black,
              $overlay-black
            ),
            url(../images/travel-fly.jpg);
        }
        &--eventsy {
          background-image: linear-gradient(
              to right,
              $overlay-black,
              $overlay-black
            ),
            url(../images/eventsy.jpg);
        }
        &--connect {
          background-image: linear-gradient(
              to right,
              $overlay-black,
              $overlay-black
            ),
            url(../images/connect.png);
        }
        &--vue {
          background-image: linear-gradient(
              to right,
              $overlay-black,
              $overlay-black
            ),
            url(../images/vue.png);
        }
        &--jungle-cook {
          background-image: linear-gradient(
              to right,
              $overlay-black,
              $overlay-black
            ),
            url(../images/jungle-cook.jpg);
        }
        &--keurig {
          background-image: linear-gradient(
              to right,
              $overlay-black,
              $overlay-black
            ),
            url(../images/keurig.png);
        }
        &--gamewish {
          background-image: linear-gradient(
              to right,
              $overlay-black,
              $overlay-black
            ),
            url(../images/gamewish.png);
        }
      }
    }
    // .project--travel-fly {
    //   background-image: ;
    // }
  }
}
