.about {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: $site-gray;
  &__bio {
    height: 500px;
    width: 60%;
    display: flex;

    background-color: $site-gray;
    &__headshot {
      width: 40%;
      height: 100%;
      img {
        height: 100%;
      }
    }
    &__info {
    }
  }
}
