.home {
  width: 80%;
  margin: 50px auto;
  color: $site-gray;
  padding-bottom: 10px;
  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__logo {
      height: 300px;
      width: 300px;
      background-image: url(../images/logo.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      margin-bottom: 30px;
    }
    &__title {
    }
  }
  .recent-projects {
    &__title {
      font-size: 60px;
      text-align: center;
    }
    .projects {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      a {
        text-decoration: none;
      }
      .project {
        height: 300px;
        border-radius: 20px;
        background-color: $overlay-black;
        color: $site-white;
        font-size: 20px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        .title {
          font-size: 30px;
        }
        &--jungle-cook {
          background-image: linear-gradient(
              to right,
              $overlay-black,
              $overlay-black
            ),
            url(../images/jungle-cook.jpg);
        }
        &--keurig {
          background-image: linear-gradient(
              to right,
              $overlay-black,
              $overlay-black
            ),
            url(../images/keurig.png);
        }
        &--gamewish {
          background-image: linear-gradient(
              to right,
              $overlay-black,
              $overlay-black
            ),
            url(../images/gamewish.png);
        }
      }
    }
  }
}
