.home {
  width: 80%;
  margin: 50px auto;
  color: $site-gray;
  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__logo {
      height: 300px;
      width: 300px;
      background-image: url(../images/logo.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      margin-bottom: 30px;
    }
    &__title {
    }
  }
  .recent-projects {
    &__title {
      font-size: 60px;
      text-align: center;
    }
    .projects {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      a {
        text-decoration: none;
      }
      .project {
        height: 250px;
        border-radius: 20px;
        background-color: $overlay-black;
        color: $site-white;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        &--travel-fly {
          background-image: linear-gradient(
              to right,
              $overlay-black,
              $overlay-black
            ),
            url(../images/travel-fly.jpg);
        }
      }
    }
  }
}
